{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}
<style>
    th {
        max-width: 100px;
        overflow-x: ellipsis;
        overflow-wrap: break-word;
        flex-wrap: nowrap;
        max-height: 2rem;
    }
</style>
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">Items list</h1><br>
                <a href="/create_item" class="button is-primary">New Item</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Pwd</th>
                    <th>url</th>
                    <th>created_date</th>
                    <th>updated_date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th><abbr title="Id">Id</abbr></th>
                <th><abbr title="user_id">User</abbr></th>
                <th><abbr title="name">Name</abbr></th>
                <th><abbr title="password">Pwd</abbr></th>
                <th><abbr title="url">url</abbr></th>
                <th><abbr title="created_date">created_date</abbr></th>
                <th><abbr title="updated_date">updated_date</abbr></th>
              </tr>
            </tfoot> -->
            <tbody>
                {% for item in items %}
                <tr>
                    <th>{{ item.id }}</th>
                    <th>{{ item.user_id }}</th>
                    <th>{{ item.name }}</th>
                    <th><span id="password_{{item.id}}">*****</span> <button value="{{ item.password }}"
                            id="show_password_{{item.id}}">voir</button> </th>
                    <th>{{ item.url }}</th>
                    <th>{{ item.created_date }}</th>
                    <th>{{ item.updated_date }}</th>
                    <th>
                        <a href="/update_item/{{ item.id }}" class="button is-small is-link">
                            update
                        </a>
                        <a href="/delete_item/{{ item.id }}" id="delete_{{ item.id }}"
                            class="button is-small is-danger">
                            delete
                        </a>
                        <a href="/share_item/{{ item.id }}">
                            share
                        </a>
                    </th>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Pwd</th>
                    <th>url</th>
                    <th>created_date</th>
                    <th>updated_date</th>
                </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th><abbr title="Id">Id</abbr></th>
                <th><abbr title="user_id">User</abbr></th>
                <th><abbr title="name">Name</abbr></th>
                <th><abbr title="password">Pwd</abbr></th>
                <th><abbr title="url">url</abbr></th>
                <th><abbr title="created_date">created_date</abbr></th>
                <th><abbr title="updated_date">updated_date</abbr></th>
              </tr>
            </tfoot> -->
            <tbody>
                {% for sharedItem in sharedItems %}
                <tr>
                    <th>{{ sharedItem.id }}</th>
                    <th>{{ sharedItem.user_id }}</th>
                    <th>{{ sharedItem.name }}</th>
                    <th>
                        <span id="password_{{sharedItem.id}}">*****</span>
                        <button value="{{ sharedItem.password }}" id="show_password_{{sharedItem.id}}">voir</button> </th>
                    <th>{{ sharedItem.url }}</th>
                    <th>{{ sharedItem.created_date }}</th>
                    <th>{{ sharedItem.updated_date }}</th>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"
    type="text/javascript"></script>
<script>
    $('tr').bind('click', function (e) {
        $('tr').removeClass('is-selected');
        $(e.currentTarget).addClass('is-selected');
    })
    $('a[id^=delete_]').bind('click', function (e) {
        if (confirm('Are you sure you want to delete this item?')) {
            // Save it!
            console.log('Thing was saved to the database.');
        } else {
            // Do nothing!
            jQuery.Event(e).preventDefault()
            console.log('Thing was not saved to the database.');
        }
    });

    $('button[id^=show_password_]').bind('click', function (e) {
        id = (e.currentTarget.id).split("_")[(e.currentTarget.id).split("_").length - 1];
        var csrf_token = $.cookie('csrftoken');
        if ($('#password_id'.replace('id', id)).html() == '*****') {
            $.post("{% url 'password' %}", { password: e.currentTarget.value, csrfmiddlewaretoken: csrf_token }, function (result) {
                $('#password_id'.replace('id', id)).html(result)
                $("#show_password_id".replace('id', id)).html('cacher');
            });
        }else {
            $('#password_id'.replace('id', id)).html("*****")
            $("#show_password_id".replace('id', id)).html('voir');
        }
    });

</script>
{% include 'components/footer.html' %}