<!-- templates/registration/login.html -->
{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}


<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">Profile</h1><br>
            </div>
        </div>
        {{ error }}
        <form method="POST">
            {% csrf_token %}
            {{ user_form.as_p }}
            <button type="submit" class="button is-fullwidth is-centered is-primary has-text-weight-semibold mt-4">
                <span>Update</span>
            </button>
            <!-- <button class="btn btn-primary" type="submit">Register</button> -->

        </form>
        <br>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>

        {% include 'components/footer.html' %}