{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}

<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">Shared items</h1><br>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>shared to</th>
                    <th>Name</th>
                    <th>Pwd</th>
                    <th>url</th>
                    <th>created_date</th>
                    <th>updated_date</th>
                    <th>date de partage</th>
                </tr>
            </thead>
            <tbody>
                {% for sharedItem in shared %}
                <tr>
                    <th>{{ sharedItem.item.id }}</th>
                    <th>{{ sharedItem.item.user_id }}</th>
                    <th>{{ sharedItem.item.name }}</th>
                    <th>{{ sharedItem.user.name }}</th>
                    <th>
                        <span id="password_{{sharedItem.item.id}}">*****</span>
                        <button value="{{ sharedItem.item.password }}" id="show_password_{{sharedItem.item.id}}">voir</button> </th>
                    <th>{{ sharedItem.item.url }}</th>
                    <th>{{ sharedItem.item.created_date }}</th>
                    <th>{{ sharedItem.item.updated_date }}</th>
                    <th>{{ sharedItem.share_created_date }}</th>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"
    type="text/javascript"></script>
<script>
    $('tr').bind('click', function (e) {
        $('tr').removeClass('is-selected');
        $(e.currentTarget).addClass('is-selected');
    })
    $('a[id^=delete_]').bind('click', function (e) {
        if (confirm('Are you sure you want to delete this item?')) {
            // Save it!
            console.log('Thing was saved to the database.');
        } else {
            // Do nothing!
            jQuery.Event(e).preventDefault()
            console.log('Thing was not saved to the database.');
        }
    })
    $('button[id^=show_password_]').bind('click', function (e) {
        id = (e.currentTarget.id).split("_")[(e.currentTarget.id).split("_").length - 1];
        var csrf_token = $.cookie('csrftoken');
        if ($('#password_id'.replace('id', id)).html() == '*****') {
            $.post("{% url 'password' %}", { password: e.currentTarget.value, csrfmiddlewaretoken: csrf_token }, function (result) {
                $('#password_id'.replace('id', id)).html(result)
                $("#show_password_id".replace('id', id)).html('cacher');
            });
        }else {
            $('#password_id'.replace('id', id)).html("*****")
            $("#show_password_id".replace('id', id)).html('voir');
        }
    });
</script>
{% include 'components/footer.html' %}