{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}

<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title">Partager l'Item : {{item.id}}</h1><br>
            </div>
        </div>

        <form class="mt-4" method="post">

            {% csrf_token %}

            {{form.as_p}}

            <button type="submit"
                class="button is-fullwidth is-centered is-primary has-text-weight-semibold mt-4">
                <span>Update</span>
            </button>
        </form>


        </tbody>
        {% include 'components/footer.html' %}