<!-- templates/registration/login.html -->
{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}
<h2 class="title is-3">Log In</h2>
<form method="post">
  <div class="form-group">
    {% for field in form %}
        <div class="input-group">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input class="form-control input" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="" placeholder="{{field.label}}" type="text" required/> 
            {{ field.errors }}
          </div>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" class="button is-primary" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% include 'components/footer.html' %}