<!-- templates/registration/login.html -->
{% include 'components/head.html' %}
<!-- START NAV -->
{% include 'components/navbar.html' %}


<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title">Register</h1><br>
      </div>
    </div>

    <form method="POST">
      {% csrf_token %}
      {{ register_form.as_p }}
      <br>
      <progress id="password-strength" class="progress" value="0" max="100"></progress>
      <span class="tag is-black" id="password-strength-level">0</span>

      <button type="submit" class="button is-fullwidth is-centered is-primary has-text-weight-semibold mt-4">
        <span>Register</span>
      </button>
      <!-- <button class="btn btn-primary" type="submit">Register</button> -->
      <ul>
        <li>* Your password can’t be too similar to your other personal information.</li>
        <li>* Your password must contain at least 8 characters.</li>
        <li>* Your password can’t be a commonly used password.</li>
        <li>* Your password can’t be entirely numeric.</li>
      </ul>
    </form>
    <br>
    <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $('#password').on('input', function () {
          var password = $(this).val();
          var progressBar = $('#password-strength');
          var level = $('#password-strength-level');
          var strength = 0;

          // Calculate the password strength
          if (password.match(/[a-z]/)) {
            strength += 1;
          }
          if (password.match(/[A-Z]/)) {
            strength += 1;
          }
          if (password.match(/[0-9]/)) {
            strength += 1;
          }
          if (password.length >= 8) {
            strength += 1;
          }
          if (password.length >= 12) {
            strength += 1;
          }

          // Update the progress bar
          progressBar.removeClass().addClass('progress');
          level.removeClass().addClass('tag');

          if (strength === 0) {
            progressBar.addClass('is-danger');
            level.addClass('is-danger');
          } else if (strength === 1) {
            progressBar.addClass('is-danger');
            level.addClass('is-danger');
          } else if (strength === 2) {
            progressBar.addClass('is-warning');
            level.addClass('is-warning');
          } else if (strength === 3) {
            progressBar.addClass('is-info');
            level.addClass('is-info');
          } else if (strength === 4) {
            progressBar.addClass('is-primary');
            level.addClass('is-primary');
          } else if (strength === 5) {
            progressBar.addClass('is-success');
            level.addClass('is-success');
          }
          progressBar.val(strength * 20);
          level.html(strength)
          
        });
      });
    </script>
    {% include 'components/footer.html' %}