</main>
<footer class="footer">
        <div class="content has-text-centered">
            <div class="soc">
                <a href="https://gitlab.com/RemiDEBUISSON/projet-django"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            </div>
            <p>
                <strong>Project</strong> by <a href="#">Moreau Anthony</a>, <a href="#">Debuisson Rémi</a> and <a href="#">Theveny Alexis</a>.
            </p>
        </div>
</footer>
</body>

</html>