<style>
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
</style>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a href="{% url 'home' %}" class="navbar-item is-active">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 25px;">
                <a href="{% url 'items_list' %}" class="navbar-link">
                    Items
                </a>

                <div class="navbar-dropdown">
                    <a href="{% url 'items_list' %}" class="navbar-item">
                        Items
                    </a>
                    <a href="{% url 'shared_items' %}" class="navbar-item">
                        Shared Items
                    </a>
                    <a href="{% url 'history' %}" class="navbar-item">
                        History
                    </a>
                </div>
            </div>


        </div>
    </div>

    {# Auth #}
    <div class="navbar-end">
        <div class="navbar-item">
            {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 25px;">
                <a class="navbar-link">
                    {{user.username}}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'changedmymind' %}">
                        Edit profile
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item button is-danger" href="{% url 'logout' %}">
                        Logout
                    </a>
                </div>
            </div>
            {% else %}
            <div class="buttons">
                <a class="button is-light" href="{% url 'register' %}">
                    Register
                </a>
                <a class="button is-primary" href="{% url 'login' %}">
                    Log in
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</nav>
<main style="margin-top: 3.5rem; padding: 10px 15px;">
    <!-- END NAV -->